.card {
	align-content: center;
	border-bottom: 1px solid rgba(127, 140, 141, 0.5);
	color: #ecf0f1;
	margin: 2% 1% 1% 2%;
	padding: 1% 1% 2% 1%;
	transition: 0.25s;
	width: 90%;
	max-width: 90%;
	animation: 0.25s ease-out 0s 1 slideInFromLeft;
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 10px;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.07);
}

.card .title {
	font-size: 1.8vw;
	color: #2ecc71;
	margin-top: 1%;
	margin-bottom: 2%;
	max-width: 100%;
}

.card .big-number {
	font-weight: bolder;
	font-size: 1.8vw;
	color: #2ecc71;
}

.timestamp {
	align-self: center;
	text-align: center;
	width: 100%;
}

.card .timestamp .date {
	font-weight: bolder;
	font-size: 0.8vw;
	color: #dd5135;
	align-self: center;
	padding-bottom: 5px;
}
.card .timestamp .time {
	font-weight: bolder;
	font-size: 1.5vw;
	color: #2ecc71;
	align-self: center;
}
.card .huge-number {
	font-weight: bolder;
	font-size: 4vw;
	color: #2ecc71;
}
.mt-5pr {
	margin-top: 5%;
}
.ml-5pr {
	margin-left: 5%;
}
.mr-5pr {
	margin-right: 5%;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.w-100 {
	width: 100%;
}

.w-70 {
	width: 70%;
}

.mw-100 {
	max-width: 100%;
}
.mw-80 {
	min-width: 80%;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.space-around {
	justify-content: space-around;
}
.space-between {
	justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}

.flex-start {
	align-items: flex-start;
}

.resource-manage-section {
	float: right;
	height: 1%;
	justify-self: flex-end;
}

.resource-delete-button {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: red;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.resource-delete-button:hover {
	background-color: #212322;
	border: 1px solid red;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.resource-restart-button {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #dd5135;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.resource-restart-button:hover {
	background-color: #212322;
	border: 1px solid #dd5135;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.resource-terminal-button {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #2ecc71;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.resource-terminal-button:hover {
	background-color: #212322;
	border: 1px solid #2ecc71;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.resource-edit-button {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #2ecc71;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.resource-edit-button:hover {
	background-color: #212322;
	border: 1px solid #2ecc71;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.mt-5 {
	margin-top: 5px;
}

hr {
	color: rgba(127, 140, 141, 0.5);
}

.bolder {
	font-weight: bolder;
}

.lighter {
	font-weight: lighter;
}

.left-orange-border {
	border-left: 2px solid #dd5135;
	border-radius: 5px 5px 5px 5px;
	margin-left: 1%;
	padding-left: 1%;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
.tooltip-highlight {
	color: #dd5135;
}

.live-icon {
	margin: 1% 0% 0% 1%;
}

.mw-pie {
	min-width: 25%;
}
@media only screen and (max-width: 1000px) {
	.mw-pie {
		min-width: 100%;
	}
}

.not-found-card {
	align-content: center;
	border-bottom: 1px solid rgba(127, 140, 141, 0.5);
	color: #ecf0f1;
	margin: 2% 1% 1% 2%;
	padding: 1% 1% 2% 1%;
	transition: 0.25s;
	width: 90%;
	font-size: 2vw;
	max-width: 90%;
	animation: 0.25s ease-out 0s 1 slideInFromLeft;
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 10px;
}

.not-found-card .fa {
	color: rgba(236, 176, 12, 0.924);
}
