.jsoneditor {
	border: none;
}

.jsoneditor-menu {
	background-color: transparent;
	border-bottom: none;
}

.jsoneditor-frame {
	background-color: transparent;
	border-bottom: 1px solid #bdc3c7;
	border-radius: 1em;
}

.jsoneditor-results input {
	color: #bdc3c7;
}

.jsoneditor-search input {
	color: #bdc3c7;
}

.jsoneditor-search input:focus {
	outline: none;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
pre.jsoneditor-preview,
.jsoneditor-schema-error,
.jsoneditor-popover {
	color: #bdc3c7;
}

div.jsoneditor-value.jsoneditor-string {
	color: limegreen;
}

.jsoneditor input:active {
	border: none;
}

.jsoneditor input,
.jsoneditor input:not([type]),
.jsoneditor input[type="text"],
.jsoneditor input[type="search"],
.jsoneditor-modal input,
.jsoneditor-modal input:not([type]),
.jsoneditor-modal input[type="text"],
.jsoneditor-modal input[type="search"] {
	border: none;
	background-color: transparent;
}

.jsoneditor-navigation-bar {
	color: #bdc3c7;
	background-color: transparent;
	border: none;
}

.jsoneditor-contextmenu .jsoneditor-menu {
	background-color: #bdc3c7;
}

.json {
	align-content: center;
	border-bottom: 1px solid rgba(127, 140, 141, 0.5);
	color: #ecf0f1;
	margin: 2% 1% 1% 2%;
	padding: 1% 1% 2% 1%;
	transition: 0.25s;
	width: 90%;
	max-width: 90%;
	animation: 0.25s ease-out 0s 1 slideInFromLeft;
}

.json-title .fa {
	margin-right: 20px;
}

.json-title {
	font-size: 2vw;
	color: #2ecc71;
	margin-left: 10px;
	margin-top: 1%;
	margin-bottom: 2%;
	max-width: 100%;
}

.jsoneditor-transform {
	visibility: hidden;
}

.jsoneditor-sort {
	visibility: hidden;
}

.jsoneditor-undo {
	visibility: hidden;
}

.jsoneditor-redo {
	visibility: hidden;
}

.save-changes-button-saved {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #2ecc71;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.save-changes-button-saved:hover {
	background-color: #212322;
	border: 1px solid #2ecc71;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.save-changes-button-unsaved {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #dd5135;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.save-changes-button-unsaved:hover {
	background-color: #212322;
	border: 1px solid #dd5135;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.save-changes-button-no-change {
	margin-left: 10px;
	float: right;
	margin-top: 1%;
	color: #bdc3c7;
	cursor: pointer;
	transition: 0.25s;
	padding: 5px 1px 5px 1px;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

.save-changes-button-no-change:hover {
	background-color: #212322;
	border: 1px solid #bdc3c7;
	transition: 0.25s;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.save-changes-buttons {
	margin-top: 2%;
}

.replace-button {
	border: 1px solid #dd5135;
	cursor: pointer;
	transition: 0.25s;
	padding: 0 5px 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: white;
	transition: 0.25s;
	font-size: 1.8vw;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}

.replace-button:hover {
	background-color: #dd5135;
	transition: 0.25s;
	cursor: pointer;
	box-shadow: 0 0 20px 1px #dd5135;
}

.replace-button .fa {
	font-size: 1.5vw;
}

.replace-button-disabled {
	border: 1px solid gray;
	cursor: not-allowed;
	transition: 0.25s;
	padding: 0 5px 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: gray;
	transition: 0.25s;
	font-size: 1.8vw;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}

.replace-button-disabled .fa {
	font-size: 1.5vw;
}

.patch-button {
	border: 1px solid #2ecc71;
	cursor: pointer;
	transition: 0.25s;
	padding: 0 5px 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: white;
	transition: 0.25s;
	font-size: 1.8vw;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}
.patch-button:hover {
	background-color: #2ecc71;
	transition: 0.25s;
	cursor: pointer;
	box-shadow: 0 0 20px 1px #2ecc71;
}

.patch-button .fa {
	font-size: 1.5vw;
}

.patch-button-disabled {
	border: 1px solid gray;
	cursor: not-allowed;
	transition: 0.25s;
	padding: 0 5px 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: gray;
	transition: 0.25s;
	font-size: 1.8vw;
	font-variant-caps: all-small-caps;
	font-weight: bold;
}

.patch-button-disabled .fa {
	font-size: 1.5vw;
}

.information-pane {
	white-space: pre-wrap;
}
