.sidebar-namespace-picker .fa:hover > .menu {
	display: flex;
	position: absolute;
	z-index: 1;
	flex-direction: column;
}
.sidebar-namespace-picker .menu {
	display: none;
}

.menu {
	background-color: #212322 !important ;
	display: flex;
	color: white;
	max-width: 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px #dd5135;
}

.menu span {
	padding: 10px;
	font-size: 1vw;
}

.menu span span {
	font-size: 1vw;
	padding: 10px;
}

.menu span:hover {
	cursor: pointer;
	background-color: black;
	color: #dd5135;

	border-radius: 5px;
}

.chimney {
	color: black;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}

.chimney input {
	border: none;
	border-bottom: 1px solid grey;
	transition: 0.2s;
	font-size: 1.5vw;
}

.chimney input:focus {
	color: black;
	outline: none;

	border-bottom: 3px solid green;
	transition: 0.2s;
}
.chimney > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 20px;
	background-color: whitesmoke;
	border-radius: 18px;
	color: grey;
	box-shadow: none;
	outline: none;
}
.popup-content {
	background-color: yellow;
}

.modal {
	font-size: 12px;
}

.add-resource-button {
	color: black;
}

.chimney .close {
	padding: 0;
	margin: 0;
	color: black;
	border: none;
	border-radius: 10px;
	border: 1px solid #dd5135 !important;
	font-size: 1vw;
}

.chimney .close:hover {
	padding: 0;
	margin: 0;
	border: none;
	color: black;
	background-color: #dd5135;
	box-shadow: 0px 0px 10px 2px #dd5135;
	border-radius: 10px;
	border: 1px solid #dd5135 !important;
}

.chimney .add-resource-button {
	color: black !important;
}

.crazy-big-no {
	font-size: 4vw !important;
	font-weight: bold;
}
