.secret-data {
	max-width: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.secret-data-section {
	border-left: 1px solid gray;
	margin-left: 5%;
}

.secret-data .key {
	text-transform: uppercase;
	border: 1px solid #bdc3c7;
	border-radius: 10px 10px 10px 10px;
	padding: 0% 1.5% 0% 1.5%;
	font-size: 0.8em;
	font-weight: bolder;
	text-align: center;
}

.secret-data .value {
	font-size: 0.8em;
	font-weight: lighter;
}

.secret-data .section-key {
	font-size: 1.5em;
}
