.secret-data {
	max-width: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.secret-data-section {
	border-left: 1px solid gray;
	margin-left: 5%;
}

.secret-data .key {
	border: 1px solid #bdc3c7;
	border-radius: 10px 10px 10px 10px;
	padding: 0% 1.5% 0% 1.5%;
	font-size: 0.8em;
	font-weight: bolder;
	text-align: center;
}
.secret-data .highlighted {
	border-bottom: 3px solid #2ecc71;
}

.secret-data .value {
	font-size: 0.8em;
	font-weight: lighter;
}

.secret-data .section-key {
	font-size: 1.5em;
}
.alert {
	background-color: #dd513571;
	display: flex;
	justify-content: space-between;
	margin: 1%;
	padding: 1%;
	border-radius: 10px;
}

.alert-button {
	background-color: transparent;
	border: 1px solid #2ecc71;
	border-radius: 10px;
	color: white;
}

.alert-button:hover {
	background-color: #2ecc71;
}
